{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <h2>Edit Entry</h2>
{% endblock header %}


{% block content %}

    <p>
        <h3>
            <a href="{% url 'topic' topic.id %}">{{topic}}</a>
        </h3>
    </p>

    <form action="{% url 'edit_entry' entry.id %}" method='post' class="form" >
        {% csrf_token %}
        {% bootstrap_form form %}
        <button name="submit" class="btn btn-primary">Update entry</button>
    </form>

{% endblock content %}

